<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <style>
.footer {
		position:absolute;
        left: 0;
		bottom:0;
		width:100%;
		height:100px;
		background:gray;
        text-align: center;
	}
    .room {
        position:center;
        left: 0;
		bottom:0;
		width:100%;
		height:100px;
		background:gray;
        text-align: center;
    }

    .add {
        position:center;
        left: 0;
		bottom:50px;
		width:100%;
		height:100px;
		background:darkgray;
        text-align: center;
    }
    </style>
</head>
<title>Booking of conference rooms</title>
<body bgcolor="#a9a9a9">
<div class="room">
<h1>Room navigation system</h1>
        <a href="ShowRooms.html"><button type="button">List of all rooms</button></a>
        <a href="room/new/"><button type="button">Add room</button></a>
      </div>
<!--  {% if error %}-->
<!--    {{error}}-->
<!--  {% endif %}-->
<form action="" method="POST">
    {% csrf_token %}
    <br>
    <br>
    <br>
    <div class="add">
    <label >Room name: </label>
        <input type="text" name="name">
    <br>
    <br>
    <label >Number of seats: </label>
        <input type="number" name="seats">
    <br>
    <br>
    <label>Projector: </label>

        <label >Yes</label>
        <input type="checkbox" name="projector" value="Yes">

    <br>
        <br>
        <br>
        <br>
        <br>

    <input type="submit" value="Add a room"><br>
        <br>
        {% if error %}
            <label position="center" >{{error}}</label>
        {% endif %}
    </div>
</form>
<footer class="footer">
  <span class="text">Jolanta Wiśniewska</span>
</footer>
</body>
</html>