<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <style>
.footer {
		position:absolute;
        left: 0;
		bottom:0;
		width:100%;
		height:100px;
		background:gray;
        text-align: center;
	}
    .room {
        position:center;
        left: 0;
		bottom:0;
		width:100%;
		height:100px;
		background:gray;
        text-align: center;
    }

    .add {
        position:center;
        left: 0;
		bottom:50px;
		width:100%;
		height:100px;
		background:darkgray;
        text-align: center;
    }
    </style>
</head>
<title>Booking of conference rooms</title>
<body bgcolor="#a9a9a9">
<div class="room">
<h1>Room navigation system</h1>
        <a href="/show-rooms/"><button type="button">List of all rooms</button></a>
        <a href="room/new/"><button type="button">Add room</button></a>

      </div>

<form action="" method="POST">
    {% csrf_token %}
    <br>
    <br>
    <br>

    <div class="add">

    <label >Edit name {{ room.name }} </label>
        <input type="text" name="name" value="{{name}}">

    <br>
    <br>

    <label >Number of seats: </label>
        <input type="number" name="seats" value="{{seats}}">

    <br>
    <br>
    <label>Projector: </label>
        <label for="projector" >Yes</label>
        <input type="checkbox" name="projector" {% if room.projector %} checked {% endif %}>

    <br>
        <br>
        <br>
        <br>
        <br>
    <input type="submit" value=Modify><br>

        <br>
        {% if error %}
            <label position="center" >{{error}}</label>
        {% endif %}
    </div>
</form>
<footer class="footer">
  <span class="text">Jolanta Wiśniewska</span>
</footer>
</body>
</html>