<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
<style>
    .footer {
		position:absolute;
        left: 0;
		bottom:0;
		width:100%;
		height:50px;
		background:gray;
        text-align: center;
	}
    .room {
        position:center;
        left: 0;
		bottom:0;
		width:100%;
		height:50px;
		background:gray;
        text-align: center;
    }

    td, th { border: 1px solid black; }

    .search {
        position: center;
        text-align: center;
        bottom: auto;
    }


</style>


</head>
<title>Booking of conference rooms</title>
<body bgcolor="#a9a9a9" class="slice">
<div class="room">
<h1>Room navigation system</h1>
        <a href="/show-rooms/"><button type="button">List of all rooms</button></a>
        <a href="/room/new/"><button type="button">Add room</button></a>

      </div>

<div class="room-2" >

    <br>
    <br>
    <br>
    <br>
    <br>
    <table>
   <thead>
      <tr> <th> Number <th> Name of room <th>Number of seats <th> Room availability<th>
      Projector availability<th> Edit <th> Delete <th> Reserve</thead>
        <tbody>
        {% for room in rooms %}
        <tr> <th> {{room.id}}</th><td><a href="/show-room/{{room.id}}/"><button type="button">{{room.name}}</button></a></td>
            <td> {{room.seats}} </td>
            {% if room.reserve %}
            <td style="color: red">Reserved</td>
            {% else %}
            <td style="color: green">Free</td>
            {% endif %}
            {% if room.projector %}
            <td style="color: green">Yes</td>
            {% else %}
            <td style="color: red">No</td>
            {% endif %}
        <td><a href="/modify-room/{{room.id}}/"><button type="button">Edit</button></a></td>
        <td><a href="/delete-room/{{room.id}}/"><button type="button">Delete</button></a></td>
        <td><a href="/reserve-room/{{room.id}}/"><button type="button">Reserve</button></a></td>
        </tr>
        {% empty %}
        <label position="center" >No rooms available</label>
        {% endfor %}
      </tbody>
</table>
<h1 style="text-align:center">Search room</h1>
    <div class="search">
     <form action="/search" method="GET">
    {% csrf_token %}
    <label >Name: </label>
        <input type="text" name="name"><br>
        <br>
        <label >Seats: </label>
        <input type="text" name="seats"><br>
        <br>
        <label>Projector: </label>
        <input type="checkbox" name="projector" value="Yes">
        <label for="Yes">Yes</label>
        <input type="checkbox" name="projector" value="No">
        <label for="No">No</label>
    <br>
    <br>
    <input type="submit" value="Search"><br>
     </form>
    </div>
  {% if error %}
    <label position="center" >{{error}}</label>
  {% endif %}
<!--</form>-->
    <div class="footer">
<footer class="footer">
  <span class="text">Jolanta Wiśniewska</span>
</footer>
    </div>

</body>

</html>
